version: '3.8'

services:
  vehicle-tracker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vehicle_3d_tracker
    volumes:
      - .:/app
    working_dir: /app

    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=host.docker.internal:0
    stdin_open: true
    tty: true
    command: /bin/bash
    
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vehicle_tracker_jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=host.docker.internal:0
    command: >
      jupyter notebook
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --allow-root
      --NotebookApp.token=''
      --NotebookApp.password=''